body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.wiki-box {
  margin: none;
  padding: none;
}
.navbar {
  display: flex;
  vertical-align: top;
  background: #CFcf00;
  padding: 10px;
}
.nav-header {
  font-size: 1.5em;
  font-weight: bold;
  flex-grow: 1;
}
.login {
  flex-grow: 1;
}

.article-box {
}
.article-box-holder {
  display: flex;
}
.article-box-content {
  flex-grow: 4;
  flex-shrink: 3;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 40px;
}

.article-list {
  width: 25%;
  max-width: 250px;
  min-width: 200px;
  flex-shrink: 2;
}
.article-list-item {
  background: #eeeeee;
  border-radius: 4px;
  margin: 3px;
  padding: 7px;
  opacity: .75;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.article-list-item:hover{
  opacity: 1;
}
.article-content {}

.article-form {}

.small-input, .large-input {
    border: 1px solid #DADADA;
      transition: border .25s ease-in-out;
     -moz-transition: border .25s ease-in-out;
     -webkit-transition: border .25s ease-in-out;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    line-height:15px;
}

.large-input{
  height: 200px;
  width: 250%;
}

.small-input:focus, .small-input:hover, .large-input:focus, .large-input:hover {
    border: 1px solid #FFA500;
}

.add-article {
  position: fixed;
  bottom: 7%;
  right: 7%;
  background: #ffa500;
    transition: background-color .2s ease-in-out;
   -moz-transition: background-color .2s ease-in-out;
   -webkit-transition: background-color .2s ease-in-out;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: none;
  font-size: 30px;
  text-align: center;
  text-decoration: bold;
  color: #fff;
  text-shadow: 2px 2px #e59400;
  box-shadow: 5px 5px 10px #cccccc;
}

.add-article:hover {
  background-color: #00DE7F;
  text-shadow: 2px 2px #1AA368;
}

.add-article:active {
  background-color: #1AA368;
  text-shadow: 2px 2px #244638;
}

.button {
  margin: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  background-color: #6496c8;
    transition: background-color .25s ease-in-out;
   -moz-transition: background-color .25s ease-in-out;
   -webkit-transition: background-color .25s ease-in-out;
  text-shadow: 1px 1px #417cb8;
  border: none;
}

.button:hover {
  background-color: #346392;
  text-shadow: 1px 1px #27496d;
}

.button:active {
  background-color: #27496d;
  text-shadow: 1px 1px #193047;
}